<div class="container">
    <form class="gv-panel" [formGroup]="form">
      <div class='header'>
        <h1 class='title'>{{ ts.strings.createCivilization }}</h1>
      </div>
      <div class='body'>
        <div class="gv-input">
          <label>{{ ts.strings.name }}</label>
          <input type="text" formControlName="name">
          <div class="error" *ngIf="name.errors && (name.touched && name.dirty)">
            <div *ngIf="nameError()">Introduzca nombre</div>
          </div>
        </div>
        <br>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button [disabled]="!form.valid" class="btn" (click)="create()">{{ ts.strings.send }}</button>
      </div>
    </form>
  </div>
  