.text {
    position: absolute;
    white-space: nowrap;
    display: block;
}
.planet-label {
    position: relative;
    word-break: keep-all;
    white-space: nowrap;
    left: -50%;
    font-size: 10px;
}
.star-label {
    position: relative;
    word-break: keep-all;
    white-space: nowrap;
    left: -50%;
    font-size: 16px;
    font-weight: 800;
}
