.container{
    position: relative;
    
    width: 512px;
    height: 512px;
}
.child{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}
canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}