<dashboard [content]="main" [config]="config"></dashboard>
<ng-template #main>
  <div id='main-container'>
    <div [class.pointer]="isHovering()" (mousewheel)="onMouseWheel($event)"  (click)="onMouseClick($event);" (mousedown)="onMouseDown($event);" (contextmenu)="onContextMenu($event);">
      <canvas id='main-canvas' #canvasRef></canvas>
      <app-text-renderer></app-text-renderer>
    </div>
    <app-selected-entity *ngIf="openWindow === ''"></app-selected-entity>
    <app-planets-index *ngIf="openWindow === 'planets'"></app-planets-index>
    <app-fleets-index *ngIf="openWindow === 'fleets'"></app-fleets-index>
    <app-colonies-index *ngIf="openWindow === 'colonies'"></app-colonies-index>
    <div *ngIf="!sessionStarted || civilization"><router-outlet></router-outlet></div>
    <div *ngIf="!(!sessionStarted || civilization)"><create-civilization></create-civilization></div>
  </div>
</ng-template>