<div class='planet' title='{{ planet.size.name }} {{ planet.type.name }}' >
    <span class='fas fa-globe-europe' [style.font-size]="(planet.size.id * 5 + 5) + 'px'" [style.color]="planet.type.colorHex"> </span>
    <span> {{ planet.name }} </span>
</div>
<div *ngIf="!planet.colony">
    <button class="btn" (click)="colonizePlanet()">Colonize planet</button>
</div>
<div *ngIf="planet.colony">
    <div *ngIf="planet.colony.buildingOrders.length === 0">
        <button class="btn" (click)="buildShip()">Build ship</button>
    </div>
    <div *ngFor="let bo of planet.colony.buildingOrders">
        <app-building-order [buildingOrder]="bo"></app-building-order>
    </div>
</div>
<div class='star-info' (click)='selectStar(planet.starSystem)'>
    <strong>Estrella Tipo: </strong>
    <span title='{{ planet.starSystem.size.description }}'>{{ planet.starSystem.size.name }} </span>
    <span [style.color]="planet.starSystem.type.colorHex" title='{{ planet.starSystem.type.description }}'>{{ planet.starSystem.type.name }}</span>
</div>