<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class='box'>
  <h3>App info:</h3>
  <div *ngIf="appInfo">
    <div>App version: {{ appInfo.appVersion }}</div>
    <div>Api host: {{ appInfo.apiHost }}</div>
  </div>
</div>
<br>
<div class='box'>
  <h3>Api info:</h3>
  <div *ngIf="apiInfo">
    <div>Api version: {{ apiInfo.apiVersion }}</div>
    <h4>Endpoints:</h4>
    <ul>
      <li *ngFor="let endpoint of apiInfo.endpoints">Id: '{{ endpoint.id }}' -- Path: '{{ endpoint.path }}'</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
