.container {
    position: relative;
}
.right {
    position: absolute;
    right: 0px;
    top:0px;
}
.red{
    color: #ff5555;
}
.green{
    color: #55ff55;
}
.info-icon:hover {
    cursor: pointer;
}